# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [8]:
chipo=pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv',sep='\t')
convert_to_float = lambda x : float(x[1:])
chipo['item_price']=chipo['item_price'].apply(convert_to_float)

### Step 4. How many products cost more than $10.00?

In [37]:
chipo[(chipo['quantity']==1) & (chipo['item_price']>10)].drop_duplicates(['item_name','item_price'])

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
79,35,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.25
90,40,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.75
93,41,1,Carnitas Burrito,"[Roasted Chili Corn Salsa, [Sour Cream, Guacam...",11.75
97,43,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.75
130,57,1,Barbacoa Burrito,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",11.75
147,66,1,Steak Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Rice, ...",11.48
163,74,1,Carnitas Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",11.48
167,75,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.25
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
187,84,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Fajita Vegg...",11.48
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98
322,140,1,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",11.08
365,158,1,Chicken Crispy Tacos,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",11.25
427,186,1,Chicken Soft Tacos,"[[Tomatillo-Red Chili Salsa (Hot), Roasted Chi...",10.98
429,186,1,Barbacoa Crispy Tacos,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",11.48
435,189,1,Veggie Burrito,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",10.98
471,202,1,Barbacoa Bowl,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",11.48
476,204,1,Chicken Burrito,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",10.58
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
822,339,1,Carnitas Bowl,"[Fresh Tomato (Mild), [Guacamole, Sour Cream, ...",11.08
825,341,1,Steak Bowl,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Pin...",11.08
988,406,1,Barbacoa Soft Tacos,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.75
1008,413,1,Carnitas Crispy Tacos,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",11.75
1027,423,1,Chicken Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Fajita Veggies, C...",10.98
1063,438,1,Carnitas Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",11.48
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
1189,488,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
1353,552,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.75
1648,666,1,Barbacoa Burrito,"[Fresh Tomato (Mild), [Guacamole, Rice, Black ...",11.08
1721,694,1,Steak Soft Tacos,"[[Fresh Tomato Salsa (Mild), Tomatillo-Red Chi...",11.48
1863,755,1,Veggie Bowl,"[Tomatillo-Green Chili Salsa (Medium), [Black ...",10.98
1963,793,1,Carnitas Soft Tacos,"[Fresh Tomato Salsa, [Sour Cream, Guacamole]]",11.75
2231,899,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Guacamole]",11.75
2884,1146,1,Carnitas Burrito,"[Fresh Tomato (Mild), [Lettuce, Black Beans, G...",11.08
2919,1160,1,Chicken Bowl,"[Fresh Tomato (Mild), [Guacamole, Rice]]",10.58
3184,1273,1,Barbacoa Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",11.48
3276,1313,1,Barbacoa Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",11.48
4510,1793,1,Barbacoa Bowl,[Guacamole],11.49

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [46]:
chipo[(chipo['quantity']==1)][['item_name','item_price']].drop_duplicates(['item_name','item_price'])

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
...                                     ...         ...
3750                         Carnitas Salad        8.99
3989                          Chicken Salad        8.19
4235                           Chicken Bowl        8.50
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[135 rows x 2 columns]

### Step 6. Sort by the name of the item

In [47]:
chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [48]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [50]:
chipo[chipo.item_name == "Veggie Salad Bowl"].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [53]:
chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64