# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv) and [cars2](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv).

In [3]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

   ### Step 3. Assign each to a variable called cars1 and cars2

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [5]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [6]:
cars = cars1.append(cars2)
cars

C:\Users\hieu\AppData\Local\Temp\ipykernel_9472\3958165173.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars = cars1.append(cars2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [7]:
import numpy as np
owners = np.random.randint(15000, high=73001, size=398, dtype='l')
owners

array([44908, 69920, 66281, 52880, 51724, 34926, 63553, 30223, 18893,
       23660, 18361, 51727, 46064, 56696, 67478, 29769, 38588, 39918,
       32563, 41949, 22855, 39211, 35494, 37314, 22228, 15998, 31795,
       44472, 21581, 66020, 49948, 64301, 31711, 18951, 66840, 62575,
       45845, 37151, 15948, 67832, 67268, 70823, 36052, 47890, 28572,
       23027, 66112, 43483, 72911, 29923, 53411, 29797, 46387, 68840,
       53158, 26616, 37368, 30600, 46479, 62422, 67944, 40984, 27615,
       72879, 19296, 22730, 42198, 30329, 32563, 58038, 65243, 71594,
       23315, 63173, 37563, 42997, 32900, 30078, 59397, 56273, 54746,
       54820, 37872, 28043, 52859, 67119, 47022, 17440, 27380, 72131,
       67394, 23844, 43033, 34113, 63748, 36717, 62798, 71651, 18426,
       16393, 39451, 29091, 62632, 16592, 38183, 27486, 26707, 66779,
       54106, 50947, 27999, 27899, 58772, 27003, 21155, 47968, 60975,
       52112, 39420, 39859, 44480, 29872, 20327, 44674, 38130, 17401,
       23486, 26802, 35152, 67887, 18338, 32809, 53075, 54857, 71141,
       38526, 44243, 61028, 49251, 43085, 36589, 25760, 18612, 61967,
       58884, 46063, 16395, 17691, 57501, 48107, 35918, 41681, 55642,
       39229, 60175, 35783, 66033, 40811, 31342, 28170, 24049, 43513,
       55886, 46579, 60472, 30269, 68967, 57779, 63174, 48518, 27375,
       22813, 50455, 59475, 37626, 31005, 27861, 23302, 67514, 68313,
       69649, 17311, 68994, 55994, 37002, 23875, 41575, 47148, 64421,
       69207, 49341, 60752, 49445, 20471, 27570, 18674, 69658, 35273,
       34547, 34207, 27037, 46184, 19149, 31953, 64316, 52709, 71758,
       56526, 24602, 23617, 35879, 69653, 65083, 66118, 50109, 38086,
       52093, 50512, 41353, 28215, 26819, 47511, 49604, 43034, 44223,
       35301, 27571, 61804, 43209, 71218, 57769, 16274, 72166, 65693,
       62627, 55095, 22789, 68502, 19746, 53516, 28974, 34165, 22272,
       43929, 47842, 72663, 30568, 37385, 26824, 19164, 67473, 24706,
       21913, 36247, 47765, 16565, 61964, 61477, 32972, 41924, 38214,
       34026, 38695, 56005, 15891, 36974, 61927, 27816, 45929, 47975,
       33046, 38744, 64745, 22822, 53773, 44626, 43219, 47235, 19788,
       53408, 25014, 66799, 62382, 40882, 57074, 36498, 32744, 19452,
       30970, 51864, 45334, 56530, 48644, 19982, 61808, 72014, 49653,
       68821, 57564, 25650, 41516, 66396, 21662, 68404, 44211, 40745,
       62332, 43122, 62112, 16034, 58991, 42361, 41107, 55759, 37314,
       19844, 49189, 44587, 56280, 43842, 29229, 49473, 29478, 26709,
       47639, 15302, 19518, 67360, 35844, 23524, 31525, 61353, 38610,
       60833, 61985, 71194, 72142, 49315, 30076, 45263, 29956, 30869,
       53084, 25485, 64384, 65574, 36865, 19852, 61140, 30276, 63389,
       16259, 37604, 27411, 46384, 16394, 22618, 28097, 38719, 58867,
       53720, 39201, 56614, 24676, 63365, 28084, 71368, 44376, 52281,
       28706, 41119, 31164, 62706, 65508, 35986, 36316, 15795, 57662,
       54187, 52674, 70302, 49049, 71163, 20480, 58588, 22886, 51078,
       65546, 50822, 34904, 53740, 62229, 66166, 34610, 44009, 36365,
       16560, 62199])

### Step 8. Add the column owners to cars

In [8]:
cars['owners'] = owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,34610
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,44009
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,36365
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,16560
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,62199