# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv",sep="\t")

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
len(chipo)

4622

In [8]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [9]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [25]:
chipo.groupby(by="item_name").sum().sort_values(by="quantity",ascending=False).head(10)
#=>Chicken Bow

                              order_id  quantity
item_name
Chicken Bowl                    713926       761
Chicken Burrito                 497303       591
Chips and Guacamole             449959       506
Steak Burrito                   328437       386
Canned Soft Drink               304753       351
Chips                           208004       230
Steak Bowl                      193752       221
Bottled Water                   175944       211
Chips and Fresh Tomato Salsa    100419       130
Canned Soda                      76396       126

### Step 10. For the most-ordered item, how many items were ordered?

In [21]:
#761

### Step 11. What was the most ordered item in the choice_description column?

In [26]:
chipo.groupby(by="choice_description").sum().sort_values(by="quantity",ascending=False).head(10)
#=> Chicken Bow

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     37550        40
[Lemonade]                                             31892        36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice,...     24432        36
[Coca Cola]                                            19282        32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream,...     29614        30

### Step 12. How many items were orderd in total?

In [36]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [37]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [41]:
convert_to_float = lambda x : float(x[1:])
chipo['item_price']=chipo['item_price'].apply(convert_to_float)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

#### Step 13.c. Check the item price type

In [42]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [43]:
chipo['rvn']=chipo['quantity'] * chipo['item_price']
chipo

,order_id,quantity,item_name,choice_description,item_price,rvn
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [48]:
chipo.sum()
#39237.02

C:\Users\hieu\AppData\Local\Temp\ipykernel_7992\1092644373.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  chipo.sum()

order_id                                                4285772
quantity                                                   4972
item_name     Chips and Fresh Tomato SalsaIzzeNantucket Nect...
item_price                                             34500.16
rvn                                                    39237.02
dtype: object

### Step 15. How many orders were made in the period?

In [55]:
chipo['order_id'].value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [58]:
# Solution 1
chipo.groupby(by="order_id").sum().mean()['rvn']

21.394231188658654

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [59]:
chipo['item_name'].value_counts().count()

50